@import "partials/variables";
//GENERAL STYLING//
:root {
  font-size: 16px;
  font-family: $font-family;
}
body {
  margin: 0;
  padding: 0;
  background-color: $offwhite;
}
main {
  max-width: 1240px;
  margin: auto;
  padding: 0;
}

a {
  text-decoration: none;
}
button {
  border: none;
  font-size: $font-s-btn-txt;
  font-family: $font-family;
}
p {
  line-height: 24px;
}
//brødkrumme
.crumb {
  font-style: $font-style-italic;
  font-size: $font-s-p;
}
/* @media (min-width: 762px) {
  main {

  }
} */
/* LANDINGPAGE STYLING */
//herosection
.hero-section {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 800px;
  background-color: $coal;
  background-image: url("../assets/svg/soundwave_1920X1080.svg");
  background-size: cover;
  background-repeat: none;

  @media (min-width: 762px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .top-img {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    img {
      width: 50%;
      @media (min-width: 762px) {
        width: 80%;
      }
    }
  }

  .hero-txt {
    margin: 50px;

    h1 {
      font-size: $font-s-h1-mob;
      color: $offwhite;
    }
    p {
      font-size: $font-s-p;
      color: $offwhite;
    }
  }

  .cta-btn-wrapper {
    display: flex;
    justify-content: center;
    @media (min-width: 762px) {
      justify-content: flex-start;
    }
  }
}

//section 2 - udvalgte kategorier
.udvalgte-kategorier {
  margin-bottom: 50px;
  .heading {
    margin: 25px;
    h2 {
      font-size: $font-s-h2-mob;
      color: $coal;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    p {
      font-size: $font-s-p;
    }
    @media (min-width: 1300px) {
      margin-left: 0px;
    }
  }
  .cat-wrapper {
    /*     grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 25px;
    @media (min-width: 762px) {
      margin: 0;
    }

    .cat {
      flex: 1 0 200px;
      background-color: $softsmoke;
      padding: 20px;
      /*     margin-left: 25px; 
      margin-right: 25px;  */
      display: flex; /* Tilføj denne linje */
      flex-direction: column; /* Tilføj denne linje */
      align-items: center;
      justify-content: center;
      /*      background-image: url(../assets/svg/imusicpattern.svg); */

      .img-wrapper {
        display: flex;
        flex-direction: column; /* Tilføj denne linje */
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        /*      display: flex;
        align-items: baseline; */
        /*   img {
          width: 50%;
          object-fit: contain;
        } */

        /*  .film {
          width: 40%;
        } */
        img {
          width: 70px;
          height: 70px;
        }
        .bog {
          padding-top: 15px;
        }
      }
    }

    .btn-wrapper {
      margin-top: auto;
      display: flex;
    }
  }
}
/* APPETIZER SECTIONS */
/* .appetizer1 {
  background-image: url("../assets/img/soundwave_kvadratisk_1.webp");
  background-size: cover;
} */
.store-img {
  background-color: $coal;
  img {
    width: 100%;
  }
}
.store-txt-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
.background1 {
  background-color: $coal;
  background-image: url("../assets/svg/soundwave_1920X1080.svg");
  background-size: cover;
  background-position: center;
}

.background2 {
  background-color: $coal;
  background-image: url("../assets/svg/soundwave_reversed.svg");
  background-size: cover;
  background-position: center;
}
.store-txt {
  margin: 50px;
  color: $offwhite;
}
.appetizer1 {
  margin-bottom: 50px;
}
@media (min-width: 762px) {
  .appetizer1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    .store-img {
      order: 2;
    }
  }

  .appetizer2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* HVORFOR HANDLE HER - SECTION */
.shop-here {
  background-color: $softsmoke;
  margin: 0;
  /*   width: 100vw; */
  padding-bottom: 50px;
  margin-bottom: 50px;
  h3 {
    padding-top: 50px;
    margin: 50px;
    font-size: $font-s-h2-mob;
  }
}
.shop-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 50px;

  .shop-card {
    flex: 1 0 250px;
    display: flex; /* Tilføj denne linje */
    flex-direction: column; /* Tilføj denne linje */
    gap: 8px;
    h4,
    p {
      margin: 0;
    }
    h4 {
      padding-top: 20px;
      padding-bottom: 10px;
    }
    p {
      padding-bottom: 10px;

      @media (min-width: 762px) {
        inline-size: 250px;
      }
    }
  }
}

//flueben
.cls-1 {
  fill: none;
  stroke: #026687;
  stroke-width: 4.88px;
}
//flueben
.ico-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  img {
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 762px) {
  .ico-wrapper {
    display: flex;
    justify-content: flex-start;
    img {
      width: 70px;
      height: 70px;
    }
  }
}
/* @media (min-width: 762px) {
  .herosection {

  }
}
 */
/* GIFT CARD PAGE */
.gift-card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/svg/soundwave_1920X1080.svg);
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  padding-top: 100px;
  h2 {
    text-align: left;
    font-size: $font-s-h2-mob;
    color: $offwhite;
  }
}

.feedback-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: $coal;
  p {
    font-size: $font-s-h3-mob;
    line-height: 30px;
    color: $offwhite;
    margin: 25px;

    @media (min-width: 762px) {
      inline-size: 600px;
    }
  }

  .gift-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .giftcard {
      width: 108px;
      height: 108px;
      animation: giftAnimation 5s linear 1;

      @keyframes giftAnimation {
        0% {
          transform: rotate(0deg) scale(1);
          opacity: 1;
        }
        50% {
          transform: rotate(360deg) scale(1.5);
          opacity: 1;
        }
        100% {
          transform: rotate(720deg) scale(0.5);
          opacity: 0;
        }
      }
    }
  }
}

.gavekort-form {
  display: flex;
  flex-direction: column;
  margin: 25px;

  div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;

    label {
      font-weight: bold;
      color: $offwhite;
    }

    input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 200px;
    }
  }
}

/* GODE PRISER PAGE */
.gode-priser-hero {
  background-image: url(../assets/svg/soundwave_1920X1080.svg);
  background-size: cover;
  background-position: center;
  .hero-txt {
    color: $offwhite;
    margin: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    h1 {
      font-size: $font-s-h1-mob;
      line-height: 31px;
    }

    .cta-btn-wrapper {
      display: flex;
      justify-content: center;
      padding-top: 25px;
      @media (min-width: 762px) {
        justify-content: flex-start;
      }
    }
  }
}

.tilbud {
  background-color: $softsmoke;

  .txt {
    padding-top: 50px;
    margin: 25px;
  }
  .tilbud-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 50px;
    text-align: center;
    @media (min-width: 762px) {
      margin: 25px;
    }

    .vinyl-tilbud {
      background-image: url(../assets/img/tilbudbaggrund1.webp);
      background-size: cover;
      background-position: center;
      flex: 1 0 300px;
      display: flex; /* Tilføj denne linje */
      flex-direction: column; /* Tilføj denne linje */
      justify-content: center;
      align-items: center;
      gap: 8px;
      color: $offwhite;
      padding: 30px;
      button {
        color: $offwhite;
      }
      @media (min-width: 762px) {
        padding: 60px;
      }
    }

    .kpop-tilbud {
      background-image: url(../assets/img/tilbudbaggrund2.webp);
      background-size: cover;
      background-position: center;
      flex: 1 0 300px;
      display: flex; /* Tilføj denne linje */
      flex-direction: column; /* Tilføj denne linje */
      gap: 8px;
      justify-content: center;
      align-items: center;
      color: $offwhite;
      color: $offwhite;
      padding: 30px;
      button {
        color: $offwhite;
      }
    }
  }
}
.fast-lav-pris {
  padding-bottom: 50px;
  .heading {
    margin: 25px;
    @media (min-width: 762px) {
      margin: 0;
    }
  }
  .cat-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 25px;
    @media (min-width: 762px) {
      margin: 0;
    }
    .cat {
      flex: 1 0 200px;
      background-color: $softsmoke;
      padding: 20px;
      /*     margin-left: 25px; 
      margin-right: 25px;  */
      display: flex; /* Tilføj denne linje */
      flex-direction: column; /* Tilføj denne linje */
      align-items: center;
      justify-content: center;
      background-image: url(../assets/svg/imusicpattern.svg);

      img {
        width: 50%;
        align-items: center;
        padding-bottom: 25px;
        padding-top: 25px;
      }
      .film {
        width: 44%;
      }
    }
  }
}
