@import "partials/variables";
//GENERAL STYLING//
:root {
  font-size: 16px;
  font-family: $font-family;
}
body {
  margin: 0;
  padding: 0;
  background-color: $offwhite;
}
main {
  max-width: 1240px;
  margin: auto;
  padding: 0;
}

a {
  text-decoration: none;
}
button {
  border: none;
}
p {
  line-height: 24px;
}
/* @media (min-width: 762px) {
  main {

  }
} */
/* LANDINGPAGE STYLING */
//herosection
.hero-section {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 800px;
  background-color: $coal;
  background-image: url("../assets/svg/soundwave_1920X1080.svg");
  background-size: cover;
  background-repeat: none;

  .top-img {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    img {
      width: 50%;
    }
  }

  .hero-txt {
    margin: 50px;

    h1 {
      font-size: $font-s-h1-mob;
      color: $offwhite;
    }
    p {
      font-size: $font-s-p;
      color: $offwhite;
    }
  }

  .cta-btn-wrapper {
    display: flex;
    justify-content: center;
  }
}

//section 2 - udvalgte kategorier
.udvalgte-kategorier {
  margin: 25px;
  margin-bottom: 50px;
  .heading {
    margin: 25px;
    h2 {
      font-size: $font-s-h2-mob;
      color: $coal;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    p {
      font-size: $font-s-p;
    }
  }
  .cat-wrapper {
    /*     grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 25px;

    .cat {
      flex: 1 0 200px;
      background-color: $softsmoke;
      padding: 20px;
      /*     margin-left: 25px; 
      margin-right: 25px;  */
      display: flex; /* Tilføj denne linje */
      flex-direction: column; /* Tilføj denne linje */
      align-items: center;
      justify-content: center;
      background-image: url(../assets/svg/imusicpattern.svg);

      .img-wrapper {
        display: flex;
        flex-direction: column; /* Tilføj denne linje */
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        /*      display: flex;
        align-items: baseline; */
        /*   img {
          width: 50%;
          object-fit: contain;
        } */

        /*  .film {
          width: 40%;
        } */
        img {
          width: 70px;
          height: 70px;
        }
        .bog {
          padding-top: 15px;
        }
      }
    }

    .btn-wrapper {
      margin-top: auto;
      display: flex;
    }
  }
}
/* APPETIZER SECTIONS */
/* .appetizer1 {
  background-image: url("../assets/img/soundwave_kvadratisk_1.webp");
  background-size: cover;
} */
.store-img {
  background-color: $coal;
  img {
    width: 100%;
  }
}
.store-txt-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
.background1 {
  background-color: $coal;
  background-image: url("../assets/svg/soundwave_1920X1080.svg");
  background-size: cover;
  background-position: center;
}

.background2 {
  background-color: $coal;
  background-image: url("../assets/svg/soundwave_reversed.svg");
  background-size: cover;
  background-position: center;
}
.store-txt {
  margin: 50px;
  color: $offwhite;
}

/* HVORFOR HANDLE HER - SECTION */
.shop-here {
  background-color: $softsmoke;
  margin: 0;
  /*   width: 100vw; */
  padding-bottom: 50px;
  margin-bottom: 50px;
  h3 {
    padding-top: 50px;
    margin: 50px;
    font-size: $font-s-h2-mob;
  }
}
.shop-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 50px;

  .shop-card {
    flex: 1 0 250px;
    display: flex; /* Tilføj denne linje */
    flex-direction: column; /* Tilføj denne linje */
    gap: 8px;
    h4,
    p {
      margin: 0;
    }
    h4 {
      padding-top: 20px;
      padding-bottom: 10px;
    }
    p {
      padding-bottom: 10px;
    }
  }
}

//flueben
.cls-1 {
  fill: none;
  stroke: #026687;
  stroke-width: 4.88px;
}
//flueben
.ico-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  img {
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 762px) {
  .ico-wrapper {
    display: flex;
    justify-content: flex-start;
    img {
      width: 70px;
      height: 70px;
    }
  }
}
/* @media (min-width: 762px) {
  .herosection {

  }
}
 */
