@import "partials/variables";

/* VINYL SIDE */
.vinyl-wrapper {
  /*   display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: baseline;
  gap: 8px;
  justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  /*   margin: 25px;
  @media (min-width: 762px) {
    margin: 0px;
  } */

  a {
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}
.vinyl {
  flex: 1 0 250px;
  background-color: $softsmoke;
  padding: 20px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
  /*   height: 100%; */
  display: flex; /* Tilføj denne linje */
  flex-direction: column; /* Tilføj denne linje */

  p.kunstner,
  p.titel {
    padding-bottom: 6px;
    margin: 0;
    font-size: $font-s-h4-mob;
    color: $coal;
  }
  .pris-wrapper {
    /*     display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: auto;
    display: flex;
    .pris {
      font-size: $font-s-p;
      font-weight: $font-weight-bold;
      color: $coal;
    }
  }
}
.img-wrapper {
  .produkt-img {
    max-width: 100%;
    object-fit: contain;
  }
}
.tags {
  p {
    font-size: $font-s-lille-product-banner-txt;
    line-height: normal;
    color: $coal;
  }
}

.tag-wrapper {
  display: flex;
  justify-content: end;
  gap: 4px;
  .edition-p {
    background-color: $mintgreen;
    padding: 6px;
  }
  .nyhed-p {
    background-color: $beachyellow;
    padding: 6px;
  }
  .lagerstatus-p {
    background-color: $skyblue;
    padding: 6px;
  }
  .lav-lagerstatus-p {
    background-color: $warninggold;
    padding: 6px;

    svg {
      width: 7px;
      height: 7px;
    }
  }
}
.notag {
  .notag-p {
    background-color: transparent;
    color: transparent;
    padding: 6px;
  }
}

/* .top-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; // Tilføjet denne linje for at centrere vertikalt
} */
.btn-wrapper {
  margin-top: auto;
  display: flex;
}
/* VINYL SINGLE PAGE */
.vinyl-details {
  margin: 25px;

  .single-view-section {
    background-color: $softsmoke;
    padding: 20px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
    .left-side-wrapper {
      .single-vinyl-img {
        figcaption {
          font-size: $font-s-lille-p;
          padding-bottom: 25px;
        }
      }
    }

    .right-side-wrapper {
      .info-txt-shown {
        h1 {
          font-size: $font-s-h1-mob;
          padding: 0;
          margin: 0;
          padding-bottom: 20px;
        }
        .wrapper {
          padding-top: 0;
          margin-top: 0;
          h2 {
            font-size: $font-s-h2-mob;
            color: $steelgrey;
            padding-top: 0;
            margin-top: 0;
          }
          p {
            font-size: $font-s-lille-product-banner-txt;
            line-height: normal;
            color: $coal;
          }
        }
      }
      .edition-tag {
        display: flex;
        justify-content: start;
        gap: 4px;
        p {
          background-color: $mintgreen;
          padding: 6px;
          margin: 0;
        }
      }
      .pris {
        .pr-stk {
          font-size: $font-s-lille-p;
          color: $coal;
          margin-bottom: 0;
        }
        .vinyl-pris {
          font-size: $font-s-p;
          color: $coal;
          font-weight: $font-weight-bold;
          margin-top: 0;
        }
      }
      .read-more {
        padding-bottom: 30px;
        p {
          line-height: 24px;
        }
        a {
          text-decoration: underline;
          color: $steelgrey;
        }
      }
      .cta-btn {
        margin-bottom: 30px;
      }
    }
    aside.share-content {
      /*   p {
         margin: 0;
        padding: 0; 
      } */
      .some-svg {
        display: flex;
        gap: 4px;
        padding-bottom: 100px;
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .produkt-forslag-section {
    .produkt-wrapper {
      a {
        background-color: transparent;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}
.produktbillede {
  width: 100%;
}
.collapsible-top {
  background-color: $offwhite;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  label,
  button {
    background-color: $offwhite;
  }
}
.content {
  /*   border: 1px solid rgb(128, 123, 123); */
  padding: 0.5rem;
  /*   border-radius: 5px; */
}

.content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.9s;
}

.content-show {
  height: 200px;
}
